In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

dbPrefix = "postgresql"
dbId = "postgres"
dbPw = "postgres"
dbIP = "192.168.110.111"
dbPort = "5432"
dbName = "postgres"
qEngine = create_engine(f"{dbPrefix}://{dbId}:{dbPw}@{dbIP}:{dbPort}/{dbName}")

selSelect ="""
SELECT *
FROM csdata_kopo
"""
indata = pd.read_sql_query(selSelect, qEngine)

In [16]:
indata

     custid     avgprice  emi  devicecount  productage          custtype
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [ ]:
emiCondition =2
avgSetPrice = 3200
indata2=indata.loc[(indata.avgprice >= avgSetPrice) &
            (indata.emi ==emiCondition)]

In [14]:
indata2

     custid     avgprice  emi  devicecount  productage          custtype
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
5    B16849  3755.263391    2            4    2.786665      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
143  Z12343  3498.896985    2            6    0.900000        Early-bird
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[95 rows x 6 columns]

In [ ]:
dbPrefix = "mysql"
dbId = "hkcode"
dbPw = "hkcodemariadb"
dbIP = "139.150.80.119"
dbPort = "3306"
dbName = "hkcodedb"
EngineCo = create_engine(f"{dbPrefix}://{dbId}:{dbPw}@{dbIP}:{dbPort}/{dbName}")
tableName = "csdata_김도희"

In [13]:
indata2.to_sql(name = tableName,
              con = EngineCo,
              if_exists="replace")

95